@import "tailwindcss";
body {
 box-sizing: border-box;
  border: 2px solid red;
}
/*header/nav css*/
.homepage-container {
    border: 2px solid rgb(8, 7, 63);
    background-image: url("heros/zebras.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}

.main-header{
    border: 2px solid rgb(35, 31, 240);
}
.nav-logo{
    border: 3px solid rgb(0, 255, 47); 
    width: 250;
  }
.nav-container{
   border: 2px solid rgb(17, 211, 221);
}

/*Footer css*/
.footer-box{
  border: 2px solid rgb(61, 56, 69);
}